<header class="header">
  <div class="logo">
    <img src="assets/img/flor.jpeg" style="width: 150px" alt="Logo">
    <h1>Cuerpo y alma</h1>
  </div>
  <section>
    <nav class="menu">
      <ul>
        <li><a href="">Inicio</a></li>
        <li><a href="#nosotros">Nosotros</a></li>
        <li><a href="#servicios">Servicios</a></li>
        <li><a href="#test-emocional">Test de estado de animo</a></li>
      </ul>
    </nav>
  </section>

  <!-- Botones de sesión -->
  <div class="auth-botones">
    <!-- Si NO está logueado -->
    <ng-container *ngIf="!usuarioActual">
      <a routerLink="/login" class="btn-login-header">Iniciar sesión</a>
      <a routerLink="/registro" class="btn-registro-header">Registrarse</a>
    </ng-container>

    <!-- Si SÍ está logueado -->
    <ng-container *ngIf="usuarioActual">
      <a routerLink="/dashboard" class="btn-dashboard-header">⚙️ {{ usuarioActual.nombre }}</a>
      <button class="btn-salir-header" (click)="cerrarSesion()">🚪 Salir</button>
    </ng-container>
  </div>
</header>
