<section class="nosotros">
  <div class="accesibilidad">
    <button (click)="aumentarTexto()">A+</button>
    <button (click)="disminuirTexto()">A-</button>
    <button (click)="contraste()">🌙</button>
  </div>

  <h2 class="titulo">Nosotros</h2>

  <div class="contenedor">
    <section class="somos" id="nosotros">
      <h3>¿Quienes somos?</h3>
      <p>Cuerpo y Alma promueve el bienestar integral, cuidando la salud física, mental y emocional
        como un acto de amor propio.</p>
    </section>

    <section class="vision">
      <h3>Nuestra vision</h3>
      <p>Ser un espacio de confianza donde las personas encuentren orientación, apoyo y motivación
        para mejorar su calidad de vida, reconociendo la importancia de la salud mental y física como un todo.</p>
    </section>

    <section class="mision">
      <h3>Nuestra mision</h3>
      <p>Promover hábitos saludables que fortalezcan el equilibrio entre cuerpo y mente, fomentando el
        autocuidado, la conciencia emocional y el bienestar integral en la vida diaria.</p>
    </section>
  </div>
</section>

