<section id="Alimentacion">
  <h3>COME BIEN, SIENTE MEJOR....</h3>

  <div class="contenidos">
    <div class="contenido1">
      <div class="bloque-alimento">
        <h4>ESTRESADO/A</h4>
        <img src="assets/img/estresado.jpg" alt="Emoji stresado">
        <ul>
          <li>Aguacate: Rico en vitamina B que reduce el estrés</li>
          <li>Nueces: Omega-3 que combate el cortisol</li>
          <li>Té Verde: L-teanina para la calma mental</li>
          <li>Chocolate Negro: Antioxidantes que mejoran el ánimo</li>
        </ul>
      </div>

      <div class="bloque-alimento">
        <h4>FELIZ</h4>
        <img src="assets/img/feliz.webp" alt="Emoji feliz">
        <ul>
          <li>Fresas: Mantén la energía positiva</li>
          <li>Manzana: Fibra y vitaminas</li>
          <li>Zanahoria: Beta-caroteno para bienestar</li>
          <li>Miel: Endulza naturalmente tu día</li>
        </ul>
      </div>
    </div>

    <div class="contenido2">
      <div class="bloque-alimento">
        <h4>CANSADO/A</h4>
        <img src="assets/img/cansado.webp" alt="Emoji cansado">
        <ul id="habitos saludables">
          <li>Plátano: Energía rápida y potasio</li>
          <li>Nueces: Omega-3 que combate el cortisol</li>
          <li>Té Verde: L-teanina para la calma mental</li>
          <li>Chocolate Negro: Antioxidantes que mejoran el ánimo</li>
        </ul>
      </div>

      <div class="bloque-alimento">
        <h4>LIMITACIONES</h4>
        <img src="assets/img/limitaciones.png" alt="Emoji advertencia">
        <ul>
          <li>Comida Rápida: Alta en grasas trans, te hace sentir pesado y con menos energía</li>
          <li>Bebidas Azucaradas: Picos de azúcar seguidos de caídas de energía</li>
          <li>Exceso de Cafeína: Más de 3 cafés al día puede aumentar ansiedad</li>
        </ul>
      </div>
    </div>

    <div class="contenido3">
      <div class="bloque-alimento">
        <h4>ANSIOSO/A</h4>
        <img src="assets/img/anciosa.png" alt="Emoji ansioso">
        <ul>
          <li>Manzanilla: Reduce la ansiedad naturalmente</li>
          <li>Avena: Estabiliza el azúcar en sangre</li>
          <li>Espinaca: Magnesio para relajar el sistema nervioso</li>
          <li>Arándanos: Antioxidantes que reducen el estrés oxidativo</li>
        </ul>
      </div>

      <div class="bloque-alimento">
        <h4>HIDRATACIÓN</h4>
        <img src="assets/img/hidratacion.png" alt="Emoji agua">
        <ul>
          <li>Agua: 8 vasos al día mínimo</li>
          <li>Agua de coco: Electrolitos naturales</li>
          <li>Infusiones: Manzanilla, tilo o lavanda para relajarte</li>
          <li>Frutas con agua: Sandía, pepino o naranja</li>
        </ul>
      </div>
    </div>
  </div>
</section>
