<section class="actividad" id="Actividad fisica">
  <h3>¡¡LLeva una rutina fisica saludable!!</h3>

  <div class="actividad-contenido">
    <div class="fisico">
      <div class="actfisi">
        <h4>Actividad basica</h4>
        <p>Actividad basica caminar en el lugar o subir y bajar escaleras (5 minutos).</p>
        <h4>Fuerza ligera</h4>
        <p>sentadillas suaves y levantamiento de brazos (2 series de 10).</p>
        <h4>Estiramiento y respiración</h4>
        <p>estirar piernas y brazos con respiración profunda (3 minutos).</p>
        <h4>Calentamiento suave</h4>
        <p>movimientos de cuello, hombros y brazos (3 minutos).</p>
      </div>
    </div>
    <img class="imagen" src="assets/img/Actividad fisica.jpeg" style="width: 400px">
  </div>
</section>
